.bg-video {
    position: absolute;
    top: 0; 
    left: 0; 
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: .15;
    overflow: hidden;

    &__content {
        height: 100%;
        width: 100%;
        //to nie zadziała bo video musi mieć zachowane swoje ratio
        //object-fit natomiast wypełni 100% parenta zachowując jego ratio :3333
        object-fit: cover;
    }
}